doctype html
// Mirrored from theme-vessel-templates.theme-vessel.ey.r.appspot.com/xero/register.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 24 May 2021 15:16:16 GMT
head
  // Google Tag Manager
  script.
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '../../www.googletagmanager.com/gtm5445.html?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-PDTWJ3Z');
  // End Google Tag Manager
  title XeroHotels | Register
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(charset='UTF-8')
  // External CSS libraries
  link(type='text/css' rel='stylesheet' href='/assets/css/bootstrap.min.css')
  link(type='text/css' rel='stylesheet' href='/assets/css/magnific-popup.css')
  link(type='text/css' rel='stylesheet' href='/assets/css/jquery.selectBox.css')
  link(type='text/css' rel='stylesheet' href='/assets/css/dropzone.css')
  link(type='text/css' rel='stylesheet' href='/assets/css/rangeslider.css')
  link(type='text/css' rel='stylesheet' href='/assets/css/animate.min.css')
  link(type='text/css' rel='stylesheet' href='/assets/css/leaflet.css')
  link(type='text/css' rel='stylesheet' href='/assets/css/slick.css')
  link(type='text/css' rel='stylesheet' href='/assets/css/slick-theme.css')
  link(type='text/css' rel='stylesheet' href='/assets/css/map.css')
  link(type='text/css' rel='stylesheet' href='/assets/css/jquery.mCustomScrollbar.css')
  link(type='text/css' rel='stylesheet' href='/assets/fonts/font-awesome/css/font-awesome.min.css')
  link(type='text/css' rel='stylesheet' href='/assets/fonts/flaticon/font/flaticon.css')
  // Favicon icon
  link(rel='shortcut icon' href='/assets/img/favicon.ico' type='image/x-icon')
  // Google fonts
  link(rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800%7CPlayfair+Display:400,700%7CRoboto:100,300,400,400i,500,700')
  // Custom Stylesheet
  link(type='text/css' rel='stylesheet' href='/assets/css/style.css')
  link#style_sheet(rel='stylesheet' type='text/css' href='/assets/css/skins/default.css')
// Google Tag Manager (noscript)
noscript
  iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-PDTWJ3Z' height='0' width='0' style='display:none;visibility:hidden')
// End Google Tag Manager (noscript)
.page_loader
// Contact section start
.contact-section
  .container
    .row
      .col-md-12
        .login-inner-form
          .details
            a(href='index-2.html')
              img(src='/assets/img/logos/black-logo.png' alt='logo')
            h3 Create an account
            .my_alerts
            form.form--register
              .form-group
                input#name.input-text(type='text' name='name' placeholder='Full Name')
              .form-group
                input#email.input-text(type='email' name='email' placeholder='Email Address')
              .form-group
                input#password.input-text(type='password' name='password' placeholder='password')
              .form-group
                input#passwordConfirm.input-text(type='password' name='passwordConfirm' placeholder='Confirm Password')
              .checkbox.clearfix
                .form-check.checkbox-theme
                  input#rememberMe.form-check-input(type='checkbox' value='')
                  label.form-check-label(for='rememberMe')
                    | I agree to the
                    a.terms(href='#') terms of service
              .form-group.mb-0
                button.btn-md.btn-theme.btn-block(type='submit') Register
            ul.social-list.clearfix
              li
                a.facebook-bg(href='#')
                  i.fa.fa-facebook
              li
                a.twitter-bg(href='#')
                  i.fa.fa-twitter
              li
                a.google-bg(href='#')
                  i.fa.fa-google-plus
              li
                a.linkedin-bg(href='#')
                  i.fa.fa-linkedin
          .footer
            span
              | Already a member? 
              a(href='/login') Login here
// Contact section end
// Full Page Search
#full-page-search
  button.close(type='button') &times;
  form.search(action='#')
    input(type='search' value='' placeholder='type keyword(s) here')
    button.btn.btn-sm.btn-color(type='button') Search
// External JS libraries
script(src='/assets/js/jquery-2.2.0.min.js')
script(src='/assets/js/popper.min.js')
script(src='/assets/js/bootstrap.min.js')
script(src='/assets/js/jquery.selectBox.js')
script(src='/assets/js/rangeslider.js')
script(src='/assets/js/jquery.magnific-popup.min.js')
script(src='/assets/js/jquery.filterizr.js')
script(src='/assets/js/wow.min.js')
script(src='/assets/js/backstretch.js')
script(src='/assets/js/jquery.countdown.js')
script(src='/assets/js/jquery.scrollUp.js')
script(src='/assets/js/particles.min.js')
script(src='/assets/js/typed.min.js')
script(src='/assets/js/dropzone.js')
script(src='/assets/js/jquery.mb.YTPlayer.js')
script(src='/assets/js/leaflet.js')
script(src='/assets/js/leaflet-providers.js')
script(src='/assets/js/leaflet.markercluster.js')
script(src='/assets/js/slick.min.js')
script(src='/assets/js/maps.js')
script(src='/assets/js/jquery.mCustomScrollbar.concat.min.js')
script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyB0N5pbJN10Y1oYFRd0MJ_v2g8W2QT74JE')
script(src='/assets/js/ie-emulation-modes-warning.js')
// Custom JS Script
script(src='/assets/js/app.js')
script(src='/assets/js/bundle.js')
// Mirrored from theme-vessel-templates.theme-vessel.ey.r.appspot.com/xero/register.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 24 May 2021 15:16:16 GMT
